* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; }

body {
  font-family: 'Instrument Serif', serif;
  background: #202020;
  color: #fff;
  overflow-x: hidden;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 20;
}

nav a {
  color: white;
  font-size: 50px;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
}

nav a:hover { opacity: 1; }

/* HOME SECTION */
.home-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* ZONE CENTRALE */
.center-zone {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: 600px;
  transform: translate(-50%, -50%); /* override par le JS */
  transform-origin: center center;
}

/* TITLE */
.home-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 300px;
  text-align: center;
  z-index: 0;
  pointer-events: none;
  white-space: nowrap;
}

/* ITEMS */
.item {
  position: absolute;
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none;
  transition: transform 0.15s ease;
  will-change: transform;
}
.item:hover  { transform: scale(1.1); }
.item:active { transform: scale(1.2); }

/* POSITIONS — relatives au centre de .center-zone */
.item.camera    { top: -80px;   left: -430px; rotate: calc(5deg); width: 700px; }
.item.s         { top: -46px; left: -487px;  width: 90px;  }
.item.a1        { top: -64px;  left: -383px;  width: 90px;  }
.item.r         { top: -61px;  left: -282px;  width: 90px;  }
.item.a2        { top: -68px;  left: -179px;  width: 90px;  }
.item.coeur     { top: -42px;  left: -82px;  width: 90px;  }
.item.fleur     { top: 451px; left: -418px;  width: 200px; }
.item.papier    { top: -260px; left: 48px; rotate: calc(-10deg); width: 450px; }
.item.ecouteurs { top: 581px; left: 547px;  width: 350px; }
.item.basket    { top: 456px;   left: -52px;rotate: calc(20deg); width: 250px; }
.item.fraise    { top: 427px;  left: 366px; width: 250px; }
.item.noeud     { top: 100px;  left: 200px;  width: 150px; }
.item.oeil1     { top: -100px; left: -400px; rotate: calc(-20deg); width: 150px; }
.item.oeil2     { top: -110px; left: -250px; rotate: calc(20deg); width: 150px; }
.item.smiski    { top: 328px;  left: 315px; rotate: calc(30deg); width: 65px; z-index: -1;}
.item.smiski2   { top: 798px;  left: -708px; width: 200px; }
.item.dés       { top: 152px;  left: 1235px;  width: 100px; }
.item.enveloppe { top: -185px;  left: 775px; width: 400px; rotate: calc(20deg); }
.item.pochette  { top: 200px;  left: 800px; width: 700px; rotate: calc(-5deg); z-index: 5; pointer-events: none;  }
.item.vinyle    { top: 290px;  left: 959px; width: 388px; rotate: calc(10deg); z-index: 0; transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1); }
.item.pochette:hover {transform: none;}
.item.vinyle:hover { transform: translateY(-50px) rotate(1deg); }


/* SECTIONS */
.section {
  display: flex;
  min-height: 100vh;
  padding: 50px;
  gap: 50px;
}

.section-left {
  flex: 1;
  position: sticky;
  top: 50px;
  align-self: flex-start;
}

.section-left h2 {
  font-size: 60px;
  line-height: 5;
}

.section-right {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 100px;
}

.section-right img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.section-right img:hover {
  transform: scale(1.05) rotate(-1deg);
  box-shadow: 0 15px 30px rgba(0,0,0,0.7);
}

.section-right-about {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 290px;
}
.section-right-about img {
  width: 25vw;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}
.section-right-about img:hover {
  transform: scale(1.05) rotate(-1deg);
  box-shadow: 0 15px 30px rgba(0,0,0,0.7);
}
.section-right-about p {
  font-size: 34px;
  line-height: 1.6;
  color: #ccc;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav a { font-size: 30px; }
  .section { flex-direction: column; padding: 20px; }
  .section-left { position: static; text-align: center; }
}